header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  z-index: 30;
}

header .content {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

header .content button .label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #eee;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: -10px;
}

header .content button.cart-btn {
  border: none;
  background-color: #eee;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
