* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.products-grid {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.content-sheet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.butt-x {
  border: none;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.butt-x:hover {
  color: #ff0000;
}
.load-more {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 24px;
  margin-top: 34px;
  margin-bottom: 60px;
  font-size: 18px;
  cursor: pointer;
}

.cart-action {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}

.cart-action button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 620px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
